<form [formGroup]="leaveTypesForm">
    <div mat-dialog-title class="dialog-title">
        Leave Type
        <button class="close-button" mat-icon-button mat-dialog-close (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>

        <div class="pb-16">
            <mat-form-field class="full-width">
                <input formControlName="casualLeaves" matInput placeholder="Casual Leaves">
                <mat-error> Casual leaves required </mat-error>
              </mat-form-field>
        </div>
        
        <div class="pb-16">
            <mat-form-field class="full-width">
                <input formControlName="sickLeaves" matInput placeholder="Sick Leaves">
                <mat-error> Sick leaves required </mat-error>
              </mat-form-field>
        </div>

        <div class="pb-16">
            <mat-form-field class="full-width">
                <input formControlName="earnedLeaves" matInput placeholder="Earned Leaves">
                <mat-error> Earned leaves required </mat-error>
              </mat-form-field>
        </div>

        <div class="pb-16">
            <mat-form-field class="full-width">
                <input formControlName="shortLeaves" matInput placeholder="Short Leaves">
                <mat-error> Short leaves required </mat-error>
              </mat-form-field>
        </div>

        <div class="pb-16">
            <mat-error *ngIf="errorMessage"> {{ errorMessage }}</mat-error>
        </div>
        
        <div mat-dialog-actions align="end">
            <button mat-raised-button mat-dialog-close>Cancel</button>
            <button mat-raised-button color="primary"
                [disabled]="leaveTypesForm.invalid"
             (click)="onSubmitLeaveTypesForm()">Submit
            </button>
        </div>
    </div>
</form> 

