.payslip{
    font-size: 12px !important;
}
.close-button {
    float: right;
}

.taxDeductions{
    font-size: medium;
}

.earnings{
    font-size: medium;
}

.contribution{
    font-size: medium;
}

.netPay{
    float: right;
}