::ng-deep {
    .green-progress {
        .mat-progress-bar-fill::after {
            background-color: #008000 !important;
        }
        
    }
    
    .yellow-progress{
        .mat-progress-bar-fill::after{
            background-color: #8d8d62 !important;
        }
    }

    .blue-progress{
        .mat-progress-bar-fill::after{
            background-color: #d770c1 !important;
        } 
    }

   .material-tooltip {
        white-space: pre-line !important;
    }

    .info-icon {
        font-size: 16px !important;
    }
} 

.appove-btn {
    color: #008000 !important;
}

.status{
margin-right: -50%;
}
