<mat-card>
    <div mat-dialog-title class="dialog-title">
        Upload Attendance
        <button class="close-button" mat-icon-button mat-dialog-close (click)="dialogRef.close()"
            aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-card-content>
        <div>
            <button (click)="fileInputBulkTimesheet.click()" mat-raised-button color="primary">
                Bulk Timesheet
                <mat-icon>attach_file </mat-icon>
            </button>
            <input style="display:none" type="file" (change)="onfileChangedBulkTimesheet($event)"
                #fileInputBulkTimesheet accept=".xlsx, .xls" />

            <div *ngIf="fileNameBulkTimesheet">
                {{ fileNameBulkTimesheet }}
                <button mat-icon-button (click)="removeSelectedFileBulkTimesheet()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="pb-16">
                <mat-error *ngIf="errorMessage"> {{ errorMessagePartA }}</mat-error>
            </div>

            <div mat-dialog-actions>
                <button mat-raised-button color="primary" [disabled]="!bulkTimesheetForm"
                    (click)="submitBulkTimesheetForm()">Submit
                </button>
            </div>
        </div>
    </mat-card-content>

</mat-card>