<mat-tab-group>
    <mat-tab label="Daily Report">
        <form [formGroup]="searchForm">
            <mat-card>
                <mat-card-content>
                    <div class="p-16 pb-0">
                        <div>
                            <mat-form-field>
                                <input matInput name="allTeamsDate" formControlName="date" placeholder="Select Date"
                                    [matDatepicker]="allTeamsDatePicker">
                                <mat-datepicker-toggle matSuffix [for]="allTeamsDatePicker"></mat-datepicker-toggle>
                            </mat-form-field>
                            <mat-datepicker #allTeamsDatePicker></mat-datepicker>


                            <mat-form-field class="ml-36">
                                <mat-select name="departmentId" formControlName="department_id"
                                    placeholder="Department">
                                    <mat-option *ngFor="let each of departments" [value]="each.id"> {{
                                        each.department_name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <button mat-raised-button [disabled]="searchForm.invalid" class="mb-8 ml-24" color="primary"
                                (click)="onSearchTeams()">
                                Search Teams
                            </button>

                            <button mat-raised-button [disabled]="searchForm.invalid" class="mb-8 ml-24" color="primary"
                                (click)="onDownloadClick()">
                                Download Teams
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>

        <div *ngIf="response">
            <div fxLayout="row wrap" fxLayoutAlign="space-around">
                <mat-card fxFlex="100" fxFlex.gt-sm="45" fxFlex.sm="45" class="ml-0">
                    <mat-card-title class="mb-16">
                        <div class="card-title-text">
                            <span class="text-13">Who is off today</span>
                            <span fxFlex></span>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content class="p-0">
                        <div fxLayout="row wrap">
                            <div *ngFor="let each of response?.on_leave">
                                <a href="" class="toolbar-avatar md mr-16"><img src="assets/images/avatars/user.svg"
                                        alt=""></a>
                                <div>{{ each.name }}</div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card fxFlex="100" fxFlex.gt-sm="45" fxFlex.sm="45" class="mr-0">
                    <mat-card-title class="mb-16">
                        <div class="card-title-text">
                            <span class="text-13">Not in yet today</span>
                            <span fxFlex></span>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content class="p-0">
                        <div fxLayout="row wrap">
                            <div *ngFor="let each of response?.absent">
                                <img class="toolbar-avatar md mr-16" src="assets/images/avatars/user.svg" alt="">
                                <div>{{ each.name }}</div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-around">
                <mat-card class="ml-0">
                    <mat-card-title class="mb-16">
                        <div class="card-title-text">
                            <span class="text-13"> Employees On Time today </span>
                            <span fxFlex></span>
                        </div>
                    </mat-card-title>
                    <mat-card-content class="p-0">
                        <div>
                            {{ response?.on_time_arrival?.length }}
                        </div>
                    </mat-card-content>

                </mat-card>

                <mat-card>
                    <mat-card-title class="mb-16">
                        <div class="card-title-text">
                            <span class="text-13"> Late Arrivals today</span>
                            <span fxFlex></span>
                        </div>
                    </mat-card-title>
                    <mat-card-content class="p-0">
                        <div>
                            <span class="pr-16">{{ response?.late_arrival?.length }}</span>
                            <a class="view-employee-btn" *ngIf="response?.late_arrival?.length"
                                (click)="viewEmployeesList(response?.late_arrival)">View Employees</a>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-title class="mb-16">
                        <div class="card-title-text">
                            <span class="text-13"> Work from home</span>
                            <span fxFlex></span>
                        </div>
                    </mat-card-title>
                    <mat-card-content class="p-0">
                        <div>
                            {{ response?.work_from_home?.length }}
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="mr-0">
                    <mat-card-title class="mb-16">
                        <div class="card-title-text">
                            <span class="text-13"> On Duty Today</span>
                            <span fxFlex></span>
                        </div>
                    </mat-card-title>
                    <mat-card-content class="p-0">
                        <div>
                            <span class="pr-16">{{ response?.on_duty?.length }}</span>
                            <a class="view-employee-btn" *ngIf="response?.on_duty?.length"
                                (click)="viewEmployeesList(response?.on_duty)">View Employees</a>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="card-title-text pl-24" *ngIf="response?.user_team?.length">
                Peers({{ response?.user_team?.length }})
            </div>

            <div fxLayout="row wrap" *ngIf="response?.user_team?.length" class="pl-12">
                <div *ngFor="let eachItem of response?.user_team">
                    <mat-card>
                        <mat-card-content>
                            <div>
                                <img src="assets/images/avatars/user.svg"
                                    class="toolbar-avatar sm mr-16 mat-elevation-z1" alt="">
                                <span class="text-12">
                                    <div class="font-weight-bold">
                                        {{ eachItem?.name}}
                                    </div>
                                    <div>
                                        Email: {{ eachItem?.email}}
                                    </div>
                                    <div>
                                        Mobile: {{ eachItem?.phone }}
                                    </div>
                                </span>
                                <span fxFlex></span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Attendance">
        <form [formGroup]="searchAttendanceForm">
            <mat-card>
                <mat-card-content>
                    <div class="p-10 pb-0">
                        <div>
                            <mat-form-field>
                                <input matInput name="start_date" formControlName="start_date" placeholder="From Date"
                                    [matDatepicker]="fromDatePicker">
                                <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                            </mat-form-field>
                            <mat-datepicker #fromDatePicker></mat-datepicker>

                            <mat-form-field class="mb-8 ml-24">
                                <input matInput name="end_date" formControlName="end_date" placeholder="To Date"
                                    [matDatepicker]="toDatePicker">
                                <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                            </mat-form-field>
                            <mat-datepicker #toDatePicker></mat-datepicker>

                            <mat-form-field class="mb-8 ml-24">
                                <mat-select name="departmentId" formControlName="department_id"
                                    placeholder="Department">
                                    <mat-option *ngFor="let each of departments" [value]="each.id"> {{
                                        each.department_name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <button mat-raised-button [disabled]="searchAttendanceForm.invalid" class="mb-8 ml-24"
                                color="primary" (click)="onSearchAttendanceTeams()">
                                Search Attendance
                            </button>
                            <button mat-raised-button [disabled]="searchAttendanceForm.invalid" color="primary"
                                (click)="onDownloadAttendanceClick()">
                                Download Attendance
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>

        <div *ngIf="response">
            <div fxLayout="row wrap">
                <mat-card class="overflow-auto" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" *ngIf="timesheet">
                    <mat-card-content>
                        <table class="mat-table full-width">
                            <thead>
                                <tr class="mat-header-row">
                                    <th class="mat-header-cell text-left">
                                        <span>{{ attendanceDate | date: 'MMM yyyy'}}</span>
                                    </th>
                                    <th class="mat-header-cell pl-3 text-left"
                                        *ngFor="let day of timesheet[0]?.time_sheet">
                                        {{ day.attendence_date | date: 'dd'}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="mat-row" *ngFor="let eachUser of timesheet; let isEven = even;">
                                    <td class="mat-cell font-weight-bold">
                                        {{ eachUser.name }}
                                    </td>
                                    <ng-container *ngFor="let day of eachUser?.time_sheet;">
                                        <td class="mat-cell attendance-circle" [style.background-color]="!isEven && day?.color === '#ffffff'? '#CCCCCC':  day?.color"
                                        [matTooltip]="day.status">
                                            <a *ngIf="day.attendence === 'A' ; else elseP;"
                                                class="anchor-tag text-decoration-underline"
                                                (click)="updateAttendance(eachUser, day)">
                                                {{ day.attendence }}
                                            </a>
                                            <ng-template #elseP>
                                                <a *ngIf="day.attendence === 'P' || day.attendence === 'PA' ; else elseNotAbsent"
                                                    class="anchor-tag text-decoration-underline"
                                                    (click)="updateAttendanceP(eachUser, day)">
                                                    {{ day.attendence }}
                                                </a>
                                            </ng-template>
                                            <ng-template #elseNotAbsent>
                                                {{ day.attendence }}
                                            </ng-template>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="OT Hours">
        <form [formGroup]="serachOtHoursForm">
            <mat-card>
                <mat-card-content>
                    <div class="p-10 pb-0">
                        <div>
                            <mat-form-field>
                                <input matInput name="start_date" formControlName="start_date" placeholder="From Date"
                                    [matDatepicker]="fromOtHoursDatePicker">
                                <mat-datepicker-toggle matSuffix [for]="fromOtHoursDatePicker"></mat-datepicker-toggle>
                            </mat-form-field>
                            <mat-datepicker #fromOtHoursDatePicker></mat-datepicker>

                            <mat-form-field class="mb-8 ml-24">
                                <input matInput name="end_date" formControlName="end_date" placeholder="To Date"
                                    [matDatepicker]="toOtHoursDatePicker">
                                <mat-datepicker-toggle matSuffix [for]="toOtHoursDatePicker"></mat-datepicker-toggle>
                            </mat-form-field>
                            <mat-datepicker #toOtHoursDatePicker></mat-datepicker>

                            <mat-form-field class="mb-8 ml-24">
                                <mat-select name="departmentId" formControlName="department_id"
                                    placeholder="Department">
                                    <mat-option *ngFor="let each of departments" [value]="each.id"> {{
                                        each.department_name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <button mat-raised-button [disabled]="serachOtHoursForm.invalid" class="mb-8 ml-24"
                                color="primary" (click)="onSearchOtHours()">
                                Search OT Hours
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>

        <div *ngIf="otHoursResponse">
            <div fxLayout="row wrap">
                <mat-card class="overflow-auto" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
                    <mat-card-content>
                        <table class="mat-table full-width">
                            <thead>
                                <tr class="mat-header-row">
                                    <th class="mat-header-cell text-left">
                                        <span>{{ otHoursAttendanceDate | date: 'MMM yyyy'}}</span>
                                    </th>
                                    <th class="mat-header-cell pl-3 text-left"
                                        *ngFor="let day of otHours[0]?.ot_hours">
                                        {{ day.attendence_date | date: 'dd'}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="mat-row" *ngFor="let eachUser of otHours; let isEven = even;">
                                    <td class="mat-cell font-weight-bold">
                                        {{ eachUser.name }}
                                    </td>
                                    <ng-container *ngFor="let day of eachUser?.ot_hours;">
                                        <td class="mat-cell attendance-circle" [style.background-color]="!isEven && day?.color === '#ffffff'? '#CCCCCC':  day?.color">
                                        <a *ngIf="day.ot_hours !=='n/a'; else elseNotApplicable" class="anchor-tag text-decoration-underline"
                                                (click)="updateOtHours(eachUser, day)">
                                                {{ day.ot_hours }}
                                            </a>
                                            <ng-template #elseNotApplicable>
                                                {{ day.ot_hours }}
                                            </ng-template>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>