<form [formGroup]="forcePasswordForm">
    <div mat-dialog-title class="dialog-title">
        Change Password
    </div>

    <div mat-dialog-content class="employee-form-content">
        <div class="pb-16">
            <mat-form-field class="full-width">
                <input type="password" name="password" formControlName="password" matInput placeholder="New Password">
                <mat-error *ngIf="forcePasswordForm.get('password').hasError('required')">
                    Password is required
                </mat-error>
                <mat-error
                    *ngIf="forcePasswordForm.get('password').hasError('pattern') && !forcePasswordForm.get('password').hasError('required')">
                    Minimum of 10 and maximum of 20 characters with 1 uppercase 1 lowercase and 1 special character or
                    number.
                </mat-error> 
            </mat-form-field>
        </div>

        <div class="pb-16">
            <mat-form-field class="full-width">
                <input type="password" name="c_password" formControlName="c_password" matInput placeholder="Confirm New Password">
                <mat-error *ngIf="forcePasswordForm.get('c_password').hasError('required')"> Confirm Password is
                    required</mat-error>
                <mat-error *ngIf="forcePasswordForm.get('c_password').hasError('matching')">
                    Password must match.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="pb-16">
            <mat-error *ngIf="errorMessage"> {{ errorMessage }}</mat-error>
        </div>

        <div mat-dialog-actions align="end">
            <button mat-raised-button type="button" color="primary" [disabled]="forcePasswordForm.invalid"
                (click)="onSubmitForceChangePasswordForm()"> Reset
            </button>
        </div>
    </div>
</form>