<form [formGroup]="changePasswordForm">
    <div mat-dialog-title class="dialog-title">
        Change Password
        <button class="close-button" mat-icon-button mat-dialog-close (click)="dialogRef.close()"
            aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="employee-form-content">
        <div class="pb-16">
            <mat-form-field class="full-width">
                <input name="password" formControlName="password" matInput placeholder="Password">
                <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">
                    Password is required
                </mat-error>
                <mat-error
                    *ngIf="changePasswordForm.get('password').hasError('pattern') && !changePasswordForm.get('password').hasError('required')">
                    Minimum of 10 and maximum of 20 characters with 1 uppercase 1 lowercase and 1 special character or
                    number.
                </mat-error> 
            </mat-form-field>
        </div>

        <div class="pb-16">
            <mat-form-field class="full-width">
                <input type="password" name="confirmPassword" formControlName="confirmPassword" matInput placeholder="Confirm Password">
                <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')"> Confirm Password is
                    required</mat-error>
                <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('matching')">
                    Password must match.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="pb-16">
            <mat-error *ngIf="errorMessage"> {{ errorMessage }}</mat-error>
        </div>

        <div mat-dialog-actions align="end">
            <button mat-raised-button mat-dialog-close>Cancel</button>
            <button mat-raised-button color="primary" [disabled]="changePasswordForm.invalid"
                (click)="onSubmitChangePasswordForm()"> Reset
            </button>
        </div>
    </div>
</form>